[user]
	mail = vernier.mt@gmail.com
	name = vernierm
	email = verniermt@gmail.com
[push]
	default = simple
[alias]
	hist = log --all --graph --decorate --oneline
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	s = status -s
	st = status
	ca = !git add -A && git commit -av
	amend = commit --amend --reuse-message=HEAD
	undo = !git reset HEAD~1 --mixed
[core]
	autocrlf = input
